.event-details{
	display: block;
	float: left;
	width: 50%;
}
.backup-calendar-list{
  display: none;
}

.backup-calendar-list li{
  list-style: none;
}
.google-calendar{
	display: block;
	margin-bottom: 46px;

}

.google-calendar iframe{
	width: 508px;
	height: 618px;
}
span.one{
  color:blue;
}
span.two{
  display: none;
  color:blue;
}
span.three{
  display: none;
  color: blue;
}


img.free {
    float: right;
    position: relative;
    display: inline-block;
}

input:invalid{
    border:solid 2px #F5192F;
}
input:valid{
    border:solid 2px #18E109;
    background-color:#fff;
}
input,select{
  display: inline-block !important;
  width: 50% !important;
  margin-bottom: 1em !important;
}

input[type="tel"] {
    width: 149px !important;
}

input#submit {
    width: 278px !important;
    margin-left: 170px;
}

label {
  display: inline-block !important;
  width: 161px !important;
  float: left !important;
  text-align: right !important;
  margin-right: 11px !important;
}
footer {
    margin-bottom: 13px;
}

@media screen and (max-width: 736px){
  article.mini-post{
  	width: 100%;
  }
  .event-details{
  	width: 100%;
  }
    .event-details img{
      width: 100%;  
    }

    input, select{
      width: 100% !important;
    }

    input#submit {
        width: 100%;
        margin-left: 0;
        
    }

    label{
      display: none !important;
    }
}

@media screen and (max-width: 500px){
  article.mini-post{
  	width: 100%;
  }
  .event-details{
  	width: 100%;
  }
    .event-details img{
      widows: 100%;  
    }
  .google-calendar iframe{
  	width: 434px;
  	height: 618px;
    }
  input#submit {
      width: 100%;
      margin-left: 0;
      
  }
  img.free {
      float: right;
      position: relative;
      display: inline-block;
      width: 100%;
      margin-bottom: 19px;
  }

}

@media screen and (max-width: 375px){
	.event-details{
		width: 100%;
	}
    .event-details img{
      width: 100%;  
  }
	.google-calendar iframe{
  	width: 300px;
  	height: 618px;
  }

	article.mini-post{
		width: 100%;
	}
  input#submit {
      width: 100%;
      margin-left: 0;
  }
  img.free {
      float: right;
      position: relative;
      display: inline-block;
      width: 100%;
      margin-bottom: 19px;
  }
}

@media screen and (max-width: 320px){
	.event-details{
		width: 100%;
	}
    .event-details img{
      width: 100%;  
    }
	.google-calendar iframe{
  	/*width: 220px;
  	height: 618px;*/
    display: none;
  }

	article.mini-post{
		width: 100%;
	}
  input#submit {
      width: 100%;
      margin-left: 0;
      
  }
  img.free {
      float: right;
      position: relative;
      display: inline-block;
      width: 100%;
      margin-bottom: 19px;
  }

  .backup-calendar-list{
    display: inline-block!important;
  }
}

@media print{
  header nav, header, footer, #footer, #header {
  display: none;
  }
  @page {
  margin: 0.5cm;
  }
  @page :left {
  margin: 0.5cm;
  }

  @page :right {
  margin: 0.8cm;
  }

  a.button{
    display: none;
  }

  img{
    width: 300px;
  }
}